name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
      fail-fast: true
    
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Build
      shell: pwsh
      run: |
        .\BuildAll.ps1