name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: true
    
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:

    - name: Checkout Code
      uses: actions/checkout@v3

    - name: System Setup
      shell: bash
      run: |
        sudo apt update -y
        sudo DEBIAN_FRONTEND=noninteractive apt-get install -y --no-install-recommends build-essential clang clang-format cppcheck cpplint
    
    - name: Build
      run: make
    
    - name: Check
      run: make lint
    
    - name: Clean
      run: make clean
